body{
  width: 100vw;
  height: 100vh;
}
.speech-recorder {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.indicator {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  margin-bottom: 10rem;

}

.indicator.speaking {
  background-color: green;
}

button {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.face-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
  
}

.face {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 50%;
  text-align: center;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.excellent {
  background-color: green;
  color: white;
}

.good {
  background-color: lightgreen;
  color: black;
}

.bad {
  background-color: yellow;
  color: black;
}

.poor {
  background-color: red;
  color: white;
}

.canvas-container{  
  width: 100rem;
  height: 40rem;
}